rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAuthenticated() {
      return request.auth != null;
    }

    match /workers/{workerId} {
      allow read, create, update, delete: if isAuthenticated();
    }

    match /companies/{companyId} {
      allow read, create, update, delete: if isAuthenticated();

      match /workers/{workerId} {
        allow read, create, update, delete: if isAuthenticated();
      }

      match /vendors/{vendorId} {
        allow read, create, update, delete: if isAuthenticated();
      }

      match /accountingAccounts/{accountingAccountId} {
        allow read, create, update, delete: if isAuthenticated();
      }

      match /shipments/{shipmentId} {
        allow read, create, update, delete: if isAuthenticated();
      }

    }
  }
}
